.tableContainer {
    margin: 20px;
    overflow-x: auto; /* Добавляет горизонтальную прокрутку если таблица шире контейнера */
}

.table {
    width: 100%;
    background-color: #f5f5dc; /* Бежевый фон */
    color: #3e2723; /* Темно-коричневый текст */
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

.table th {
    cursor: pointer;
    background-color: #32340d; /* Темный фон заголовков */
    color: white;
}

.table th:hover {
    background-color: #85ab3b;
}

.editButton, .deleteButton {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.editButton {
    background-color: #4CAF50; /* Зеленая кнопка */
    color: white;
}

.deleteButton {
    background-color: #f44336; /* Красная кнопка */
    color: white;
}

.editButton:hover {
    background-color: #45a049;
}

.deleteButton:hover {
    background-color: #d32f2f;
}
